#keys
	.hero-unit
		h2 Keyholder List

	.container(ng:controller="Keys")
		table.table
			tr
				th Name
				th Key
			tr(ng:repeat="screening in screenings")
				td {{ screening.name() }}
				td {{ screening.screening_key() }}

		.create(ng:click="create()") New Key
