#keys
	.hero-unit
		h2 Keyholder List

	.container(ng:controller="Keys")
		table.table
			tr
				th Name
				th Key
			tr(ng:repeat="screening in screenings")
				td
					inline(entity="screening", property="name")
				td
					inline(entity="screening", property="screening_key")

		.create(ng:click="create()") New Key
		.save(ng:click="save()") Save
		.load(ng:click="load()") Load